@font-face {
  font-family: 'iconfont';  /* project id 1931066 */
  src: url('//at.alicdn.com/t/font_1931066_5pb417juzqo.eot');
  src: url('//at.alicdn.com/t/font_1931066_5pb417juzqo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1931066_5pb417juzqo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1931066_5pb417juzqo.woff') format('woff'),
  url('//at.alicdn.com/t/font_1931066_5pb417juzqo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1931066_5pb417juzqo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuyi:before {
  content: "\e78f";
}

.icon-zhuyi1:before {
  content: "\e653";
}

.icon-zhuyi2:before {
  content: "\e690";
}

.icon-gerenzhongxin21:before {
  content: "\e77a";
}

.icon-icon_shaixuan:before {
  content: "\e657";
}

.icon-sanjiaoxing_shang:before {
  content: "\e6e7";
}

.icon-i-home:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e645";
}

.icon-ditu:before {
  content: "\e608";
}

.icon-chengchangdanganye_zhaopianliulan:before {
  content: "\e655";
}

.icon-dkw_xiaoxi:before {
  content: "\e606";
}

.icon-wode1:before {
  content: "\e62f";
}

.icon-wode2:before {
  content: "\e619";
}

.icon-xingbienan:before {
  content: "\e631";
}

.icon-xingbienv:before {
  content: "\e632";
}

.icon-renyuan:before {
  content: "\e60f";
}

.icon-diqiu-:before {
  content: "\e610";
}

.icon-bangongshizhuanzuliucheng:before {
  content: "\e65a";
}

.icon-diqiuxueyuan:before {
  content: "\e60b";
}

.icon-tianjia:before {
  content: "\e65b";
}

.icon-xiaoxi:before {
  content: "\e6da";
}

.icon-fabu:before {
  content: "\e61e";
}

.icon-home:before {
  content: "\e646";
}

.icon-xiaoxi1:before {
  content: "\e74c";
}

.icon-sanjiaoxing:before {
  content: "\e6e6";
}

